---
layout: default
---
<div class="page-container">

    <div class="content">
        <article>
            <div style="width: 100%; height: 300px;  border-radius: 5px;">
                <div style="float: left; padding: 0 20px 0 0;">
                    {% if page.img %}
                    <img style="width: auto; height: 300px;"
                        src={{ "/images/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
                    {% endif %}
                </div>
                <div style="float: left; ">
                    <h1 class="page-title" style="white-space: pre-wrap;">{{page.title}}</h1>

                    <br>

                    <div class="meta">
                        <span><i class="fa fa-film" aria-hidden="true"></i> {{page.kind}}</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{page.year}}</span>
                    </div>

                    <br>
                    {%for genre in page.genres%}
                    <span><i class="fa fa-ticket" aria-hidden="true"></i> {{genre}} </span> &nbsp;&nbsp;&nbsp;&nbsp;
                    {%endfor%}
                    <br>
                    <br>
                    <a href={{"https://www.imdb.com/title/tt" | append: page.imdb_id}}>
                        <div style="color: rgba(0, 0, 0, 0.658); padding: 5px 0 0 0;">
                            <img src="{{site.baseurl | append: "/icons/imdb_logo.png"}}" style="width: 40px;">
                            <!-- <i class="fa fa-imdb" aria-hidden="true"></i> -->
                            rating {{page.imdb_rating}}

                        </div>
                    </a>
                    <a href={{"https://www.netflix.com/watch/" | append: page.netflix_id}}>
                        <div style="color: rgba(0, 0, 0, 0.658); padding: 5px 0 0 0;">
                            Watch Now on &nbsp;
                            <img src="{{site.baseurl | append: "/icons/netflix_logo.png"}}" style="width: 50px;"> &nbsp;
                            <!-- <img style="width: 30px; height: auto;" src="netflix-logo.png" alt=""> -->
                        </div>
                    </a>
                    <a href="{{"https://www.youtube.com/results?search_query=" | append:page.title}}">
                        <div style="color: rgba(0, 0, 0, 0.658); padding: 5px 0 0 0;">
                            <img src="{{site.baseurl | append: "/icons/youtube_logo.png"}}" style="width: 50px;">
                            trailers and stuff
                        </div>
                    </a>

                </div>
            </div>

            <br>
            <br>
            <span style="padding: 10px 0 0 0;">
                {{page.content | markdownify}}
            </span>

            <br>
            <br>


        </article>
        <!-- {% if page.categories %}
                {% include disqus.html %}
            {% else %}
            {% endif %} -->
    </div>
</div>